@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-brand: #3887F3 !important;
  --colors-brandAccent: #1DA1F2 !important;
}

html,
body {
  background-color: #000000;
  color: #fff;
}

.bg-red {
  background-color: #ff0000 !important;
}

.ReactModal__Content {
  opacity: 0;
  transform: translateX(-100px);
  animation: bounce-in 300ms ease-in-out forwards;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.5);
  }
  70% {
    transform: translateX(10px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.ReactModal__Content--before-close {
  animation: bounce-out 500ms ease-in-out forwards;
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(-10px) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px) scale(0.5);
  }
}
